
# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, built with `go test -c`
*.test

# Dependency directories (remove the comment below to include it)
# vendor/

# env file
.env

# Editor/IDE
# .idea/
# .vscode/
chip-8
input_test*
roms/
